{% extends 'main.html' %}

{% block content %}
    <h1>
        Home Page
    </h1>
    <div class="container" style="display: grid; grid-template-columns: 1fr 3fr 1fr;">
        <div>
		{% include "base/topics_comp.html" %}
        </div>
        <div>
		    <h5> {{rooms|length}} rooms availble </h5>
            <div>
                <a href="{% url 'create-room' %}">Create Room</a>
            </div>
		{% include "base/feed_comp.html" %}
        </div>
    <div>
	{% include "base/activity_comp.html" %}
    </div>
    </div>
{% endblock %}
